# Secrets & Configuration
.env

# Python & Virtual Environments
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# OS specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Binaries, Logs & Compressed files (ngrok, zip, log)
ngrok
ngrok 2
*.zip
*.log
